body{
    font-family: 'PT Serif', serif;
}

.bg-yellow{
    background-color:#FFC017;
}

.boder-bottom-dark{
    border-bottom: 1px solid rgba(41,41,41,1);
}


#get-started-btn{
    width: 110px;
    height:fit-content ;
    background-color: black;
    border-radius: 25px;
    color: white;
    margin-left:5px;
}

#start-reading-btn{
    width: 200px;
    background-color: black;
    border-radius: 25px;
    color: white;
    margin-top: 30px;
    font-size: larger;
}

.aside-buttons>li{
    margin-bottom: 10px;
}

.aside-buttons > li > a{
    font-size: small;
    
}


a.aside-footer{
    color: gray;
    text-decoration: none;
    margin-left: 3px;
}

